<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PokéCollector</title>
    <link rel="stylesheet" href="{% static 'css/materialize.1.0.0.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">PokéCollector</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/pokemon">My Collection</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <p class="center-align footer-copyright">Fan website designed by Aaron Ishibashi
    </footer>
</body>
</html>
